# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# PyCharm files
.idea/

# VS Code
.vscode/

# Logs and local DBs
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Python environment
*.egg-info/
dist/
build/
.eggs/
alembic/env.py

# Environment variables
.env
